/* you will add css rules for element selectors and IDs */


/* you may add to or change the body rule */
/* @media screen and (max-width: 700px) { */
body {
    font-family: sans-serif;
    color: #fff;
    background: #000;
}
img {
    max-width: 100%; /* DO NOT delete or change this line */
}

/* ----- SUGGESTED COLORS -----
    - ARTICLES
    B26219 cinnamon
    FFD5AE pale peach
    FFBD82 peach
    - LINKS
    379CB2 medium blue
    82E8FF light blue

   ----- NEUTRAL COLORS you may use also -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- link pseudo classes --- */
/* --- you may ADD other link pseudo classes for
        specific articles or sections to improve CONTRAST --- */

a {
    color: #379CB2;
}
a:hover {
    color: #82E8FF;
}


#stagbeetle {
    background-color: #B26219;
}

#ladybug {
    background-color: #FFD5AE;
    color: #333;
}

#bluemintbeetle {
    background-color: #FFBD82;
    color: #333;
}

p {
    max-width: 600px;
}

.text {
    padding: 15px;
    font-size: 12px;
    line-height: 30px;
}

.text > h2 {
    text-align: center;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

footer {
    display: flex;
    background-color: #333;
}

footer > p {
    text-align: center;
    align-content: center;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

header > h1 {
    align-self: center;
}

a:visited {
    color: #82E8FF;
}
}